<div class="container">
<h1>Meet your Instructors</h1>
<br><br>
<div class="container">
  <% @instructors.each do |instructor| %>
    <div class="col-lg-6 col-md-6 col-xs-8">
      <%= link_to image_tag(instructor.image, width:'300'), instructor_path(instructor) %>
    </div>
  <% end %>
</div>
</div>
