<div class="container">
<div class="text-center">
  <%= image_tag("beach.jpg") %>
</div>
<br><br>
<div class="col-md-4">
  <h1>Mind</h1>
  <p>Take time out with Downdog to focus your awareness on the present moment.</p>
</div>
<div class="col-md-4">
  <h1>Body</h1>
  <p>Expect a challenging workout that will get a sweat going and the heart pumping.</p>
</div>
<div class="col-md-4">
  <h1>Spirit</h1>
  <p>We are a community of motivated and high energy individuals that are here for you both on and off the mat.</p>
</div>
<br><br>
</div>
