<h1>Contact Downdog Yoga</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <strong>Phone: </strong><p>301.364.3696</p>
    <strong>Email: </strong><p>info@downdogyoga.com</p>
    <strong>Address: </strong><p>8270 Melrose Ave. <br>
      Los Angeles, CA 90046</p>
  </div>
</div>
