<div class="container">
  <a href="/instructors/new">
  <div class="col-md-3">
    <div class="btn-main btn-instructors text-center">
      <h2>New Instructor</h2>
    </div>
  </div>
  </a>
  <a href="/workouts/new">
    <div class="col-md-3">
      <div class="btn-main btn-workouts text-center">
        <h2>New Class</h2>
      </div>
    </div>
  </a>
  <a href="/classes">
    <div class="col-md-3">
      <div class="btn-main btn-classes text-center">
        <h2>View Classes</h2>
      </div>
    </div>
  </a>
  <a href="/clients">
    <div class="col-md-3">
      <div class="btn-main btn-clients text-center">
        <h2>View Clients</h2>
      </div>
    </div>
  </a>
</div>
