<div class="container">
<div class="btn btn-primary col-md-4">
  <%= link_to 'New Instructor', new_instructor_path, class: "main-pg" %>
</div>
<div class="btn btn-success col-md-4">
  <%= link_to 'Create New Class', new_workout_path, class: "main-pg" %>
</div>
<div class="btn btn-danger col-md-4">
  <%= link_to 'View Clients', clients_path, class: "main-pg" %>
</div>
</div>
